[setup]
importer=PennOutImporter
annotator=KeywordTagAnnotator
exporter=TableExporter

[importer]

# Update lcx_regex to match the format of the tokens in your corpus.
lcx_regex=(?P<word>.+?)(@l=(?P<lemma_lgerm>[^@]+)@t=(?P<pos_tt>[^@]+)@|@)rl=(?P<lemma_rnn>.+)@rt=(?P<pos_rnn>.+)

# The keyword_node_regex is read from the header of the .out file. Or you can set it here
#PO_keyword_node_regex=,\s+(?P<keyword_node>[0-9]+)\s+V.*

[annotator]

# Update to change the columns which are added to the table.
tags=[('lemma_rnn', 'lemma_rnn'), ('cat', 'cat'), ('ancestors', 'ancestors'), ('deep_ancestors', 'deep_ancestors')]
